main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}
.image-style{
    width: 450px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    } 

    
.style-description{
color:rgb(251, 251, 251) !important;
}