main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}
.image-style{
    width: 250px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    } 

    
