*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#footer-page{
    height: 35vh;
    width: 100%;
    font-family: 'Bitter', serif;
    background-color: black;
}

/* Background colors */
.bg-page-primary{
    background-color:black;
}

.bg-page-persianRed{
    background-color:#8A0015;
}

.container-copyright{
    color: white;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}


/* Text colors */
.incons-networks{
    color:white;
    font-family: 'Bitter', serif;
}


/* Imagen del footer */
.img-footer{
    width: 60%;
}


/*Quitar color y subrayado a etiquetas a*/
#footer-page a:link,#footer-page a:visited,#footer-page a:active {
    color:white;
    text-decoration:none;
}

#footer-page a:hover{
    color:#8A0015;
}


/* Animacion link de redes */
.animation-redes:hover{
    transform:scale(1.2);
    transition-duration: 250ms;
    color: #8A0015;
}

@media screen and (min-width: 0px) {
    #footer-page{
        height: auto;
    }
}

@media screen and (min-width:768px) {
    .img-footer{
        width: 50%;
    }
    #footer-page{
        height: auto;
    }
}

@media screen and (min-width:992px) {
    .img-footer{
        height: 70%;
    }
    .text-page-smaller{
        font-size:1em!important;
    }
    #footer-page{
        height: auto;
    }
}



