.carousel-pag-principal{
    object-fit: cover;
    object-position:center;
    height: 100vh;
    width: 100vw;
}

main{
    background-color: black;
}

.img-card{
    height: 250px;
    width: 300px;
    object-fit: contain;
    object-position: center;

}

.card-style{
    width: 250px !important; 
    background-color: black;
}

.button-carousel{
    border: none;
}
.style-text-carousel{
    background-color: rgba(0, 0, 0, 0.459);
    padding: 10px;
    border-radius: 15px;
}

#line{
  background-color: #8A0015;
  width: 100%;
  height: 2px;
}

#form-buscador{
    border: none;
}

#buscador{
    background-color: white;
    border-radius:8px;
}

.filtro{
    display: none;
}