body{
  background-color: black;
}
main{
  padding-bottom: 300px;
  background-color: black;
}
.style-table{
  width: 90vw !important;
  text-align: center;
  background-color: black;
}
.style-table-category{
  max-width: 200px;
  overflow-x: scroll;
  white-space:nowrap;
  text-overflow: clip;
  scrollbar-base-color: black;
} 
.style-table-img{
  width: 40px;
  height: 40px;
  margin-left: 15px;
  margin-right: 15px;
}
.style-table-img:hover{
  transform:scale(2.5);
  transition-duration: 200ms;
  color: #8A0015;
}
.style-button-add{
  border: 1px solid #8A0015 !important;
  color: #8A0015;
  border: 1px solid #8A0015;
  margin-right: 20px;
}
.style-button-add:hover{
  background-color: #8A0015 !important;
  color: white !important;
}
.style-button-add:focus{
  box-shadow: none !important;
}
@media screen and (max-width: 900px){
  .style-table{
    width: 70vw;
}
}
.style-cell{
  max-height: 200px;
}
.form-check-input{
  background-color:#8A0015;
  color: black !important;
}
.form-check-input:focus{
  background-color: #8A0015 !important;
  border-color: crimson !important;
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(64, 64, 71, 0.253)
}
.form-check-input:checked{
  background-color: #8A0015;
  border-color: black;
}
.style-button-table:focus, .btn:focus{
  outline: none !important;
  box-shadow: none !important;
}
.style-button-table:hover{
  transform:scale(1.2);
  transition-duration: 250ms;
  color: #8A0015;
}
.btn-secondary{
  border: none !important;
}
footer{
  border-top: 1px  #8A0015 solid;
}
nav{
  border-bottom: 1px  #8A0015 solid;
}